{{ define "main" }}

  <h2>{{ title .Title }} {{ .Data.Singular }}</h2>

  {{ if .Data.Plural }}
  <a href="/{{ .Data.Plural | urlize }}">&#8598; See all {{ .Data.Plural }}</a>
  {{ end }}

  {{ $paginator := .Paginate .Data.Pages }}
  <div class="artworks">
  {{ range $paginator.Pages }}
    {{ $artworkResource := .Page.Resources.GetMatch "the-piece" }}
    {{ if $artworkResource }}
      {{ $artworkImage := $artworkResource.Fill "300x300" }}
      <a href="{{ .Permalink }}"><img src="{{ $artworkImage.RelPermalink }}" alt=""></a>
    {{ end }}
  {{ end }}
  </div>

  <footer>
    {{ partial "pagination.html" . }}
  </footer>

{{ end }}

